# Ignore node_modules directory
node_modules/

# Ignore build or production files
build/
dist/
*.log

# Ignore environment-specific configuration files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore IDE/Editor-specific files
.vscode/
.idea/

# Ignore user-specific files
*.iml
*.DS_Store
Thumbs.db

# Ignore logs and runtime data
logs/
pids/
*.pid
*.seed
*.pid.lock

# Ignore coverage output
coverage/

# Ignore test snapshots
__snapshots__/

# Ignore custom folders or files you don't want in the repository
custom-folder/
custom-file.txt


# ignore note file
note.txt